# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.d.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kaanc\Desktop\d\.idea\.idea.d\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
